<div class="parallax-container">
  <div class="parallax"><img src="bundles/road/assets/parallax1.jpeg"></div>
</div>

<div class="section white">
  <div class="row container">

    <h2 class="header center-align">{{groupeBack.groupe[0].nom}}</h2>
    <div class="row">

      <div class="col s6"> <!-- =================== COLLAPSE MEMBRES DU GROUPE =================== -->
        <ul class="collapsible" data-collapsible="accordion">
          <li class="padding">
            <div class="collapsible-header active"><i class="fa fa-users" aria-hidden="true"></i>Membres du groupe</div>
            <div class="collapsible-body padding">
                <div class="row">
                  <form class="col s7">
                    <div class="row">
                      <div class="input-field col s6">
                        <input id="email" type="email" ng-model="membre.email" class="validate">
                        <label for="email">Email</label>
                      </div>
                      <div class="input-field col s6">
                        <input id="nom" type="text" ng-model="membre.name" class="validate">
                        <label for="nom">Prénom Nom</label>
                      </div>
                    </div>
                  </form>
                  <div class="col s4 offset-s1 addButton">
                    <a class="waves-effect waves-light col s12 btn" ng-click="addEmail()"><i class="medium material-icons right">add</i>Ajouter </a>
                  </div>
                </div>

                <div class="row">
                  <div class="chip margin" ng-repeat="user in membreBack.membres">
                    <img src="bundles/road/assets/moi.jpg" alt="Contact Person">
                    {{user.username}}
                  </div>
                </div>
            </div>
          </li>
        </ul>
      </div> <!-- =================== END COLLAPSE MEMBRES DU GROUPE =================== -->

      <div class="col s6"> <!-- =================== COLLAPSE BUDGET =================== -->
        <ul class="collapsible" data-collapsible="accordion">
          <li>
            <div class="collapsible-header active"><i class="fa fa-money" aria-hidden="true"></i>Budget</div>
            <div class="collapsible-body padding">
                <div class="row">
                  <div class="collection">
                    <a class="collection-item">Alvin <span class="right">14 <i class="fa fa-eur" aria-hidden="true"></i></span></a>
                    <a class="collection-item">Alvin</a>
                    <a class="collection-item">Alvin</a>
                    <a class="collection-item active">Alvin</a>
                  </div>
                </div>
            </div>
          </li>
        </ul>
      </div>  <!-- =================== END COLLAPSE BUDGET =================== -->

      <div class="col s12"> <!-- =================== COLLAPSE ITINERAIRE =================== -->

            <ul class="collapsible" data-collapsible="accordion">
              <li>
                <div class="collapsible-header active"><i class="fa fa-map-marker" aria-hidden="true"></i>Itinéraire</div>
                <div class="collapsible-body padding">

                  <div class="row">
                    <form class="col s7">
                      <div class="row">
                        <div class="input-field col s6">
                          <input id="Itineraire" type="text" ng-model="itineraire.proposition" class="validate">
                          <label for="proposition">Itineraire</label>
                        </div>
                        <div class="input-field col s6">
                          <input id="prix" type="number" ng-model="itineraire.prix" class="validate">
                          <label for="email">Prix</label>
                        </div>
                      </div>
                    </form>
                    <div class="col s4 offset-s1 addButton">
                      <a class="waves-effect waves-light col s12 btn" ng-click="addItineraire()"><i class="medium material-icons right">add</i>Ajouter </a>
                    </div>
                  </div>

                    <div class="row">
                      <div class="col s6">
                        <div class="collection">
                          <div ng-hide="groupe.itineraire.length != 0">
                            <a class="collection-item" >Aucune proposition </a>
                          </div>
                          <div ng-repeat="iti in groupe.itineraire">
                            <a id="geo{{$index}}" class="collection-item" ng-click="geoloc(iti.proposition,'geo'+$index)">{{iti.proposition}} <span class="right">{{iti.prix}} <i class="fa fa-eur" aria-hidden="true"></i></span></a>
                          </div>
                        </div>
                      </div>
                      <div class="col s6">
                        <ng-map zoom="11" center="{{position}}" scrollwheel="false">
                          <marker ng-repeat="p in position"
                                  position="{{position}}" title="pos: {{position}}"></marker>
                        </ng-map>
                      </div>

                    </div>
                </div>
              </li>
            </ul>

      </div>  <!-- =================== END COLLAPSE ITINERAIRE =================== -->

      <div class="col s12"> <!-- =================== COLLAPSE PROPOSITIONS =================== -->
        <ul class="collapsible" data-collapsible="accordion">
          <li>
            <div class="collapsible-header active"><i class="fa fa-comment" aria-hidden="true"></i>Propositions</div>
            <div class="collapsible-body padding">
              <div class="row">
                <form class="col s7">
                  <div class="row">
                    <div class="input-field col s6">
                      <input id="proposition" type="text" ng-model="proposition.proposition" class="validate">
                      <label for="proposition">Proposition</label>
                    </div>
                    <div class="input-field col s6">
                      <input id="prix" type="number" ng-model="proposition.prix" class="validate">
                      <label for="email">Prix</label>
                    </div>
                  </div>
                </form>
                <div class="col s4 offset-s1 addButton">
                  <a class="waves-effect waves-light col s12 btn" ng-click="addProposition()"><i class="medium material-icons right">add</i>Ajouter </a>
                </div>
              </div>

              <table class="striped centered">
               <thead>
                 <tr>
                     <th data-field="id">Propositions</th>
                     <th data-field="id">Prix</th>
                     <th data-field="name">Vote</th>
                     <th data-field="price">Validation</th>
                 </tr>
               </thead>

               <tbody>
                 <tr ng-hide="ok()">
                   <td>Aucune proposition</td>
                   <td></td>
                   <td></td>
                   <td></td>
                 </tr>
                 <tr ng-repeat="prop in groupe.proposition">
                   <td>{{prop.proposition}}</td>
                   <td>{{prop.prix}} <i class="fa fa-eur" aria-hidden="true"></i></td>
                   <td>0</td>
                   <td><i class="small material-icons close">close</i></td>
                 </tr>
                 <tr ng-repeat="iti in groupe.itineraire">
                   <td>{{iti.proposition}}</td>
                   <td>{{iti.prix}} <i class="fa fa-eur" aria-hidden="true"></i></td>
                   <td>0</td>
                   <td><i class="small material-icons close">close</i></td>
                 </tr>
               </tbody>
             </table>
            </div>
          </li>
        </ul>
      </div>  <!-- =================== END COLLAPSE PROPOSITIONS =================== -->

    </div>



  </div>
</div>

<div class="parallax-container">
  <div class="parallax"><img src="bundles/road/assets/road.jpg"></div>
</div>
