

<div class="row">
  <div class="col s6 logoIndex">
      <h1 class="titre center-align">Friends Road</h1>
  </div>
  <div class="col s5">
    <div class="card login padding">
      <div ng-show="nextStep == 1"> <!-- ======================= ETAPE 1 ============================== -->
        <h3 class="center-align titre">Groupes</h3>
        <div class="row">
          <form name="formGroup">

              <div class="input-field form">
                <input id="groupe" type="text" ng-model="groupe.name" ng-required="true">
                <label for="groupe">Nom du groupe</label>
              </div>
              <div class="input-field form">
                <input id="email" type="email" ng-model="user.email" ng-required="true">
                <label for="email">Email</label>
              </div>
              <div class="input-field form">
                <input id="pseudo" type="text" ng-model="user.name" ng-required="true">
                <label for="pseudo">Prénom Nom</label>
              </div>
              <div class="input-field form">
                <input id="password" type="password" ng-model="groupe.password" ng-required="true">
                <label for="password">Mot de passe</label>
              </div>
            <button class="btn col s6 offset-s6" ng-disabled="formGroup.$invalid"
             ng-click="valider()">Suivant<i class="material-icons right">trending_flat</i></button>
          </form>
        </div>

      </div> <!-- ======================= FIN ETAPE 1 ============================== -->

    </div>
  </div>

</div>
